
<template>
  <div>
    <div class="container">
      <br>
      <div class="button_block">
        <form v-on:submit.prevent="showQouta">
          <select name="" v-model="selected">
             <option disabled value="">Выберите один из вариантов</option>
            <option value="03-2020">03-2020</option>
            <option value="02-2020">02-2020</option>
            <option value="01-2020">01-2020</option>
            <option value="12-2019">12-2019</option>
            <option value="11-2019">11-2019</option>
            <option value="10-2019">10-2019</option>
          </select>
          <button type="submit">show_quota</button>
        </form>
        <button v-on:click="generateData">Generate data</button>
        <button v-on:click="cleanData">clean data</button>
      </div>
      <div>
        <h2>Companies report</h2>
        <table>
          <thead>
            <tr>
              <td>Company</td>
              <td>Qouta</td>
              <td>exceed</td>
            </tr>
          </thead>
          <tbody>
            <tr v-for="q in qouta" :key="q.company">
              <td>{{q.company}}</td>
              <td>{{q.qouta}}</td>
              <td>{{q.company_qouta}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>


<script>
import axios from 'axios'
export default {
  name: 'Abusers',
   data: function () {
    return {
      qouta: [],
      selected: 'Chose data report',
    }
  },
  
  methods: {
    showQouta: function(){
      let self =this;
      let url = `http://127.0.0.1:8000/quota_company/?date=${this.selected}`
      return axios.get(url).then(function(response){
          self.qouta = response.data;
          console.log(self.qouta);
      }); 
    },
    cleanData: function(){
      let url = `http://127.0.0.1:8000/clean_transfer/`
      return axios.delete(url).then(function(response){
          console.log(response.data);
      }); 
    },
    generateData: function(){
      let url = `http://127.0.0.1:8000/generate/`
      return axios.get(url).then(function(response){
          console.log(response.data);
      }); 
    }
  }
}
</script>