<template>
  <div class="hello">
    <div class="container">
       <h2>Companies</h2>
        <div  v-for="conpany in companies" :key="conpany.id">
            <form action="" >
              <input type="text" name="name" placeholder="name" required v-bind:value="conpany.name">
              <input type="number" name="quota" placeholder="quota" required v-bind:value="conpany.quota">
              <button type="submit" v-on:click.prevent="editCompany(conpany.id, $event)">edit company</button>
              <button v-on:click.prevent="deleteCompany(conpany.id)">delete company</button>
            </form>
        </div>
      <div class="add_company">
        <h3>add new company</h3>
        <form name="add_company_form" v-on:submit.prevent="addCompany">
          <input type="text" name="name" placeholder="name" required>
          <input type="number" name="quota" placeholder="quota" required>
            <button type="submit">add company</button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  name: 'Companies',
   data: function () {
    return {
      message: 'not updated',
      companies: [],
    }
  },
  mounted() {
    this.getCompany();
  },
  methods: {
    getCompany: function(){
      let self =this;
      return axios.get('http://127.0.0.1:8000/companies/').then(function(response){
          self.companies = response.data;
      }); 
    },
    deleteCompany: function(id){
      let self = this;
      let url = `http://127.0.0.1:8000/companies/${id}`
      axios.delete(url).then(function(response){
        self.companies = response.data;
      }); 
    },
    addCompany: function(){
      let self = this;
      let form = new FormData(document.forms.add_company_form)
      let data = {
        'name': form.get("name"),
        'quota': form.get("quota"),
      }
      let url = `http://127.0.0.1:8000/companies/`
      axios.post(url, data).then(function(response){
        self.companies = response.data;
      }); 
    },
    editCompany: function (id, event) {
      let form = new FormData(event.target.parentNode)
      let data = {
        'name': form.get("name"),
        'quota': form.get("quota"),
      }
      let self =this;
      let url = `http://127.0.0.1:8000/companies/${id}`
      axios.put(url, data).then(function(response){
        self.companies = response.data;
      }); 
    }
  }
}
</script>


<style lang="sass">
  button
    cursor: pointer
    outline: none
    border: none
    padding: 0.5rem 1rem
    text-transform: uppercase
    transition: all 0.5s ease
    
    &:hover
      background-color: #B3B3B3
      transition: all 0.5s ease
  .container
    width: 100%
    max-width: 1140px
    margin-left: auto
    margin-right: auto
    table
      width: 100%
      td
        text-align: center
        padding-top: 0.5rem
        padding-bottom: 0.5rem
      thead
        background-color: #eee
        td
          text-transform: uppercase
      tbody
        td
          border-bottom: 1px solid #eee
          
  .add_company
    margin-top: 2rem
  form
    width: 100%
    display: flex
    input
      font-size: 1.1rem
      padding: 0.5rem
      background-color: #eeeeee
      border: none
      width: 50%
      margin: 0
      box-sizing: border-box
      border-right: 1px solid #B3B3B3
      flex-grow: 2
    button
      width: 220px
      flex-grow: 1
  form[name="add_company_form"]
    flex-wrap: wrap
    button
      margin-left: auto
      width: 220px
      margin-top: 1rem
</style>
