<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    
        <table>
            <thead>
                <tr>
                    <td>название компании</td>
                    <td>Квота компании</td>
                    <td>текущее значение</td>
                </tr>
            </thead>
            <tbody>
                {% for total_company in total_companies %}
                <tr><td>{{total_company.company}}</td><td>{{total_company.company_qouta}}</td><td>{{total_company.qouta}}</td></tr>
                {% endfor %}
            </tbody>
        </table>
    
</body>
</html>