<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
      <div class="container">
        <div class="button_block">
      <button 
      v-for="tab in tabs"
        v-bind:key="tab"
        v-bind:class="['tab-button', { active: currentTab === tab }]"
        v-on:click="currentTab = tab">
        {{ tab }}
      </button>
    </div>
      </div>
    <component v-bind:is="currentTabComponent" ></component>
  </div>
</template>

<script>

import Companies from '@/components/Companies.vue'
import Abusers from '@/components/Abusers.vue'
export default {
  name: 'Home',
  components: {
    Companies,
    Abusers
  },
  data: function () {
    return {
      currentTab: "Companies",
      tabs: ["Companies", "Abusers",]
    }
  },
  computed: {
    currentTabComponent: function() {
      return this.currentTab;
    }
  }
}
</script>
<style lang="sass">
  .button_block
    display: flex
    justify-content: center
    button
      margin: 0 1rem
</style>
